body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.home {
  min-height: 50vh;
  display: -ms-flexbox;
  display: flex;
}

.home .intro {
  text-align: center;
}

.home .intro img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 8px solid #F09B22;
}

.home .intro h1 {
  font-size: 30px;
  color: #302e4d;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}

.home .intro p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: #504e70;
}

.home .intro .icon {
  margin-top: 15px;
}

.home .intro .icon i {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #F09B22;
  margin: 0 4px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: -10px;
  /* padding: 10px; */
}


/* .home .intro .icon a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */